.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); 
    justify-content: center;
    padding: 2rem 1rem;
    align-items: center;
    transition: all 0.3s ease;
  }
  
  .modal-content {
    background-color: #0797bb; 
    margin: auto;
    padding: 2rem; /* Padding lebih besar */
    border: none; 
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; 
  }
  
  .modal-content h2 {
      font-size: 2rem;
      font-weight: 700;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 1.5rem; /* Ukuran font lebih kecil */
    font-weight: bold;
    margin-top: -1rem; /* Perbaiki posisi */
    margin-right: -1rem; /* Perbaiki posisi */
    cursor: pointer; /* Pointer cursor */
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
  }
  
  .modal-content h2 {
    margin-bottom: 1rem;
    color: #04417a; /* Warna teks utama */
  }
  
  .modal-content form input {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .modal-content form button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: #04417a; /* Warna tombol */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-content form button:hover {
    background-color: #033366; /* Warna tombol saat hover */
  }
  
  .modal-content .register-link {
    display: block;
    margin-top: 1rem;
    color: #04417a;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .modal-content .register-link:hover {
    color: #033366; /* Warna link saat hover */
  }
  
  .fasilitastiket {
      display: none; /* sembunyikan modal secara default */
      position: fixed; /* posisi tetap */
      z-index: 1; /* atur kedalaman tumpukan */
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4); /* efek blur latar belakang */
  }
  
  .modal-contentfasilitastiket {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
  }
  
  .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }